<nb-layout>

  <!-- <nb-layout-header fixed>
  </nb-layout-header> -->

  <nb-layout-column>

    <div class="inner d-block mx-auto">
      <nb-card>
        <nb-card-header>
          Calculadora Hormonal
        </nb-card-header>
      </nb-card>

      <nb-card>
        <nb-card-body>

          <nb-tabset>
            <nb-tab tabTitle="Comparador" tabIcon="bar-chart-outline" responsive class="px-0">

              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam corporis voluptates explicabo sequi quidem, dicta at obcaecati velit. Ratione vero minima iure sit nobis quis officia facere minus illum nulla?

            </nb-tab>
            <nb-tab tabTitle="Tabela de Conversões" tabIcon="grid-outline" responsive class="px-0">


            </nb-tab>
          </nb-tabset>

        </nb-card-body>
      </nb-card>
    </div>

  </nb-layout-column>

  <!-- <nb-layout-footer fixed>
  </nb-layout-footer> -->

</nb-layout>
