<h1 class="h6 text-center mt-3 mb-2">
  Qual é o gênero do paciente?
</h1>
<nb-radio-group name="gender-radio-group"
                class="d-flex justify-content-center"
                [(ngModel)]="gender">
  <nb-radio value="male">Masculino</nb-radio>
  <nb-radio value="female">Feminino</nb-radio>
</nb-radio-group>


<form #form="ngForm">

  <table class="w-100">
    <thead>
      <tr>
        <th scope="col">EXAME</th>
        <th scope="col">REFERÊNCIA</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let exam of exams; let i = index" [ngClass]="getBackground(exam, i)">
        <td class="py-0">
          <label [for]="'exam' + i" class="label d-block pt-3">{{ exam.name }}:</label>
          <input  [id]="'exam' + i"
                  type="text"
                  [name]="'exam' + i"
                  [(ngModel)]="results['exam' + i]"
                  autocomplete="off"
                  autocapitalize="off"
                  autofocus="off"
                  class="d-block w-100 bg-transparent border-0 m-0 py-3 pl-0"
                  placeholder="Digite o resultado">
        </td>
        <td>{{ getText(exam) }}</td>
      </tr>
    </tbody>
  </table>

</form>
