@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/corporate';

$nb-themes: nb-register-theme((

  // add your variables here like:

  // color-primary-100: #f2f6ff,
  // color-primary-200: #d9e4ff,
  // color-primary-300: #a6c1ff,
  // color-primary-400: #598bff,
  // color-primary-500: #3366ff,
  // color-primary-600: #274bdb,
  // color-primary-700: #1a34b8,
  // color-primary-800: #102694,
  // color-primary-900: #091c7a,

), corporate, corporate);

$nb-themes: nb-register-theme((
  color-primary-100: #F8E9E1,
  color-primary-200: #F2D1C4,
  color-primary-300: #D8A79B,
  color-primary-400: #B17A73,
  color-primary-500: #7E4543,
  color-primary-600: #6C3033,
  color-primary-700: #5A2129,
  color-primary-800: #491520,
  color-primary-900: #3C0C1B,
  color-primary-transparent-100: rgba(126, 69, 67, 0.08),
  color-primary-transparent-200: rgba(126, 69, 67, 0.16),
  color-primary-transparent-300: rgba(126, 69, 67, 0.24),
  color-primary-transparent-400: rgba(126, 69, 67, 0.32),
  color-primary-transparent-500: rgba(126, 69, 67, 0.4),
  color-primary-transparent-600: rgba(126, 69, 67, 0.48),
  color-success-100: #EDF9CA,
  color-success-200: #D7F398,
  color-success-300: #B1DC60,
  color-success-400: #86BA37,
  color-success-500: #538C09,
  color-success-600: #417806,
  color-success-700: #326404,
  color-success-800: #245102,
  color-success-900: #1B4301,
  color-success-transparent-100: rgba(83, 140, 9, 0.08),
  color-success-transparent-200: rgba(83, 140, 9, 0.16),
  color-success-transparent-300: rgba(83, 140, 9, 0.24),
  color-success-transparent-400: rgba(83, 140, 9, 0.32),
  color-success-transparent-500: rgba(83, 140, 9, 0.4),
  color-success-transparent-600: rgba(83, 140, 9, 0.48),
  color-info-100: #C8FAF0,
  color-info-200: #93F6EA,
  color-info-300: #5BE4DF,
  color-info-400: #32C4CA,
  color-info-500: #0094A8,
  color-info-600: #007390,
  color-info-700: #005778,
  color-info-800: #003E61,
  color-info-900: #002D50,
  color-info-transparent-100: rgba(0, 148, 168, 0.08),
  color-info-transparent-200: rgba(0, 148, 168, 0.16),
  color-info-transparent-300: rgba(0, 148, 168, 0.24),
  color-info-transparent-400: rgba(0, 148, 168, 0.32),
  color-info-transparent-500: rgba(0, 148, 168, 0.4),
  color-info-transparent-600: rgba(0, 148, 168, 0.48),
  color-warning-100: #FBF4C9,
  color-warning-200: #F7E894,
  color-warning-300: #E7CF5D,
  color-warning-400: #CFB134,
  color-warning-500: #AF8A01,
  color-warning-600: #967300,
  color-warning-700: #7D5D00,
  color-warning-800: #654900,
  color-warning-900: #533A00,
  color-warning-transparent-100: rgba(175, 138, 1, 0.08),
  color-warning-transparent-200: rgba(175, 138, 1, 0.16),
  color-warning-transparent-300: rgba(175, 138, 1, 0.24),
  color-warning-transparent-400: rgba(175, 138, 1, 0.32),
  color-warning-transparent-500: rgba(175, 138, 1, 0.4),
  color-warning-transparent-600: rgba(175, 138, 1, 0.48),
  color-danger-100: #FCE4D1,
  color-danger-200: #FAC4A4,
  color-danger-300: #F19874,
  color-danger-400: #E36F50,
  color-danger-500: #D1351D,
  color-danger-600: #B31D15,
  color-danger-700: #960E11,
  color-danger-800: #790914,
  color-danger-900: #640516,
  color-danger-transparent-100: rgba(209, 53, 29, 0.08),
  color-danger-transparent-200: rgba(209, 53, 29, 0.16),
  color-danger-transparent-300: rgba(209, 53, 29, 0.24),
  color-danger-transparent-400: rgba(209, 53, 29, 0.32),
  color-danger-transparent-500: rgba(209, 53, 29, 0.4),
  color-danger-transparent-600: rgba(209, 53, 29, 0.48)

), pharma, corporate);
